{% extends 'base.html.j2' %}

{% block title %}
BATTLE
{% endblock %}

{% block content %}




<ul class="navbar-nav ms-auto align-items-center">
                    <img src="/static/images/battle.png"  width="1400" height="600">
                    </ul>
{% endblock %}
