{% extends 'base.html.j2' %}

{% block title %}
Pokemon search

{% endblock %}

{% block content %}
<h1>Pokemon Search</h1>
<form method="POST" action="{{url_for('main.pokeapi')}}">
  <div class="mb-3">
    <label for="name" class="form-label">name</label>
    <input type="text" name ="name" class="form-control" id="name">
  </div>
 
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if information  %}
<table class="table table-striped-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Ability</th>
      <th scope="col">Base Experience</th>
      <th scope="col">Base HP</th>
      <th scope="col">Base Attack</th>
      <th scope="col">Base Defense</th>
      <th scope="col">Front Shiny</th>
    </tr>
  </thead>
  <tbody>
     {% for info in information%}       
        <tr> 
            <th scope ="row">{{info['name']}}</th>
            <td>{{info['ability']}}</td>
            <td>{{info['base_experience']}}</td>
            <td>{{info['base_hp']}}</td>
            <td>{{info['base_attack']}}</td>
            <td>{{info['base_defense']}}</td>
            <td><img src='{{info.front_shiny}}'height=100 width=100></td>
        </tr>
     {% endfor %}
  </tbody>
</table>
{% else %}
    Enter the name you want to look for

    <ul class="navbar-nav ms-auto align-items-center">
                    <img src="/static/images/pokedex.png" style="height:120px">
                    </ul>

{% endif %}


{% endblock %}
