{# {% extends 'base.html.j2' %}
{% block content %}
{% for user in users %}
    {% if not user.id == current_user.id %}
    <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
        <img src="{{ user.get_icon_url() }}" class="img-fluid rounded-start" alt="pokemon">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Maybe later</p>
            {% if current_user.is_following(user) %}
                <a href="/follow/{{user.id}}" class="btn btn-info">Add</a>
            {% else %}

            <a href="/unfollow/{{user.id}}" class="btn btn-danger">Remove</a>
            {% endif %}
        </div>
        </div>
    </div>
    </div>
    {% endif %}
{% endfor %}

{% endblock %} #}